<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myshopping.mapper.MemberMapper">
	
	<resultMap type="com.myshopping.domain.MemberVO" id="memberMap">
		<id property="userid" column="userid" />
		<result property="userid" column="userid"/>
		<result property="userpw" column="userpw"/>
		<result property="userName" column="username"/>
		<result property="userphone" column="userphone"/>
		<result property="useremail" column="useremail"/>
		<result property="regDate" column="regdate"/>
		<result property="updateDate" column="updateDate"/>
		<collection property="authList" resultMap="authMap">
		</collection>
	</resultMap>
	
	<resultMap type="com.myshopping.domain.AuthVO" id="authMap">
		<result property="userid" column="userid"/>
		<result property="auth" column="auth"/>
	</resultMap>
	
	<select id="readUser" resultMap="memberMap">
		SELECT
			mem.userid, userpw, username, userphone, useremail, enabled, regdate, updatedate, auth
		FROM
			tbl_member mem LEFT OUTER JOIN tbl_member_auth auth on mem.userid = auth.userid
		WHERE mem.userid = #{userid}
	</select>
	
	<insert id="regiUser">
		insert all into tbl_member (userid, userpw, username, userphone, useremail) values (#{userid}, #{userpw}, #{userName}, #{userphone}, #{useremail})
		into tbl_member_auth (userid, auth) values (#{userid}, 'ROLE_USER')
		select * from sys.dual
	</insert>
	
	<update id="updateUser">
		update tbl_member set username = #{userName}, userphone = #{userphone}, useremail = #{useremail} where userid = #{userid}
	</update>
	
	<delete id="remove">
		delete from tbl_member where userid = #{userid}
	</delete>
</mapper>