<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myshopping.mapper.OrderMapper">
	<insert id="insertOrder">
		insert into tbl_order
			(order_code, userid, order_name, order_phone, order_address, order_allprice)
		values (#{order_code},  #{userid}, #{order_name}, #{order_phone}, #{order_address}, #{order_allprice})
	</insert>
	
	
	<insert id="insertOrderProduct">
		insert into tbl_order_product 
			(order_product_code, product_code, order_code, order_product_stock, userid)
			select SEQ_order_product.nextval, product_code, #{order_code}, cart_stock, #{userid}
			from tbl_cart where userid = #{userid}
	</insert>
	
	<select id="getAllOrderList" resultType="com.myshopping.domain.OrderVO">
		select * from tbl_order
	</select>
	
	<select id="getOrderList" resultType="com.myshopping.domain.OrderVO">
		select * from tbl_order where userid = #{userid}
	</select>
	
	<select id="getOrderSelectList" resultType="com.myshopping.domain.OrderProductListVO">
		select  o.order_code, o.userid, o.order_name, o.order_phone, o.order_address, o.order_allprice, o.order_day, o.order_complete, op.order_product_code, op.product_code, op.order_product_stock, op.order_product_comment, p.product_name, p.product_price
			from tbl_order o
			join tbl_order_product op
			on o.order_code = op.order_code
			join tbl_product p
			on op.product_code = p.product_code
		where o.order_code = #{order_code}	
	</select>
	
	<select id="getOrderProductList" resultType="com.myshopping.domain.OrderProductVO">
		select * from tbl_order_product
		where order_code = #{order_code}
	</select>
	
	
	<update id="updateOrderComplete">
		update tbl_order
		 set order_complete = '1'
		 where order_code = #{order_code}
	</update>
	
	<update id="updateOrderProductComplete">
		update tbl_order_product
		 set order_product_comment = '1'
		 where order_product_code = #{order_product_code}
	</update>
</mapper>